In [0]:
from delta.tables import *

DeltaTable.createIfNotExists(spark)\
    .tableName("employee") \
    .addColumn("emp_id", "INT") \
    .addColumn("emp_name","STRING") \
    .addColumn("salary" , "INT") \
    .location("/FileStore/tables/delta/table1/table_python") \
    .execute()

Out[4]: <delta.tables.DeltaTable at 0x7f7237eefdf0>

In [0]:
# dataframe method 
employee_data = [ (100, "Krishna", "M", 12000, "IT") ,
                 (200, "Kuldeep", "M" ,11000,"HR") ,
                 (300, "Pratibha", "F", 10000, "SALES" )]

employee_schema = ["emp_id", "emp_name", "gender", "salary", "dept" ]

df = spark.createDataFrame(data=employee_data,schema = employee_schema)
display (df)

df.createOrReplaceTempView('df_table')
spark.sql("create table IF NOT EXISTS employee using delta select * from df_table")

df.write.format("delta").option("path", "/delta/table1").saveAsTable("employee_demo")

emp_id,emp_name,gender,salary,dept
100,Krishna,M,12000,IT
200,Kuldeep,M,11000,HR
300,Pratibha,F,10000,SALES